{% extends 'base.html' %}

{% block content %}

    {% if city %}
        {{ city }}
    {% endif %}

 
    {% if api %}
            {% if api == "Error..." %}
                There was an error, please try again...
            {% else %}

            <section class="vh-100">
                <div class="container py-5 h-100">
            
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-8 col-lg-6 col-xl-4">
            
                    <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>
            
                    <form action = "{% url 'home' %}" class="input-group rounded mb-3" method = "POST">
                        {% csrf_token %}
                       <input type="search" class="form-control rounded" placeholder="City" aria-label="Search"
                        aria-describedby="search-addon" name = "city" />
                        <button class="input-group-text border-0 fw-bold" id="search-addon" type="submit">
                            Check!
                        </button>
                        </a>
                    </form>
            
                    <!-- <div class="mb-4 pb-2">
                        <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio1"
                            value="option1"
                            checked
                        />
                        <label class="form-check-label" for="inlineRadio1">Celsius</label>
                        </div>
            
                        <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio2"
                            value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2">Farenheit</label>
                        </div>
                    </div> -->
            
                    <div class="card shadow-0 border">
                        <div class="card-body p-4">
            
                        <h4 class="mb-1 sfw-normal">{{ api.name }}, {{ api.sys.country }}</h4>
                        <p class="mb-2">Current temperature: <strong>{{ api.main.temp }}°F</strong></p>
                        <p>Feels like: <strong>{{ api.main.feels_like }}°F</strong></p>
                        <p>Max: <strong>{{ api.main.temp_max }}°F</strong>, Min: <strong>{{ api.main.temp_min }}°F</strong></p>
            
                        <div class="d-flex flex-row align-items-center">
                            <p class="mb-0 me-4">{{ api.weather.0.description }}</p>
                            <i class="fas fa-cloud fa-3x" style="color: #eee;"></i>
                        </div>
            
                        </div>
                    </div>
            
                    </div>
                </div>
            
                </div>
            </section> 

    <!-- Location = {{ api.name }}, {{ api.sys.country }}<br/>
    Current temprature: {{ api.main.temp }}<br/>
    Feels like: {{ api.main.feels_like }}<br/>
    Max: {{ api.main.temp_max }}<br/>
    Min: {{ api.main.temp_min }}<br/>
    Description: {{ api.weather.0.description }} -->
            {% endif %}
    {% endif %}


{% endblock %}